{% load static %}
<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Us - Delish Dine</title>
    </head>
    <body>
        <div>
            <h1>Contact Us</h1>
            <p>We'd love to hear from you! Reach us through the details below.</p>

            <p>Address: 123 Foodie Street, Rajahmundry, India</p>
            <p>Phone: +91 9876543210</p>
            <p>Email: contact@delshine.com</p>
        </div>
    </body>
</html>



