{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>{{ restaurant_name }}/title>
    </head>
    <body>
        <div class="container">
            <h1 class="main-title">Welcome to {{ restaurant_name }} </h1>
            <p>{{ restaurant_address }}</p>
        </div>

        <iframe
        src="https://www.google.com/maps?q={{ restaurant_address|urlencode }}&output=embed"
        width="600"
        height="450"
        style="border: 0;"
        allowfullscreen=""
        loading="lazy"
        </iframe>
        <footer>
            <p>&copy; 2025 Delish Dine. All Rights Reserved.</p>
        </footer>

    </body>
    </html>