{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Homepage</title>
    </head>
    <body>
        <div class="container">
            <h1 class="main-title">Welcome to My Homepage </h1>
            <h1 class="restaurant_name">Welcome to {{ restaurant_name }}</h1>
            <p class="info-text">The page you're looking for doesn't exist</p>
            <a href="{% url 'home' %}" class="btn">Back to Homepage</a>
        </div>

        <footer>
            <p>&copy; 2025 Delish Dine. All Rights Reserved.</p>
        </footer>

    </body>
    </html>