{% load static %}
<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Our Menu</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1 class="main-title">Our Menu </h1>
            <ul class="menu-list">
                {% for item in items %}
                <li class="menu-item">
                    {{ item.name }} - ${{ item.price }}
                </li>
                {% empty %}
                <li>No items yet.</li>
                {% endFor %}
            </ul>
        </div>

        <footer>
            <p>&copy; 2025 Delish Dine. All Rights Reserved.</p>
        </footer>

    </body>
</html>

